* {
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif;
}
body {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
}
/* menu */

header {
    width: 100%;
}
#menu {
    width: 100%;
    height: 55px;
    box-shadow: 0 0 10px 0 lightgray;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
.menu-item {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer;
}
.menu-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 4px;
}
.menu-item:first-child {
    width: 180px;
    margin-right: auto;    /* dịch chuyển về bên trái so với các item khác */
}
.menu-item:hover {
    background-color: lightgray;
}
.menu-item a b {
    margin-right: 10px;
}

/* banner  */

#banner {
    max-width: 100%;
    position: relative;
    cursor: pointer;
}
#banner img {
    width: 100%;
    object-fit: cover;
}
#banner div {
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
}
#banner div b {
    background-color: black;
    padding: 10px 15px;
    opacity: 0.7;   /* tạo độ trong suốt */
}

/*  css dùng chung */
.content-box {
    max-width: 100%;
    padding: 30px;
}
.title-block {
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
    font-size: 20px;
    margin: 30px 0;
    font-weight: lighter;
}

/* project */
.project-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
.project-item {
    position: relative;
    cursor: pointer;
}
.project-item::after {
    
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    max-width: 40%;
}
.project-item:first-child:after,
.project-item:nth-child(5):after {
    content: "Summer House";
}
.project-item:nth-child(2):after,
.project-item:nth-child(6):after {
    content: "Brick House";
}
.project-item:nth-child(3):after,
.project-item:nth-child(7):after {
    content: "Renovated";
}
.project-item:nth-child(4):after,
.project-item:last-child:after {
    content: "Barn House";
}
.project-item img {
    width: 100%;
}

/* about  */
.about-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 50px 0 20px;
}
.about-item img {
    width: 100%;
    object-fit: cover;
}
.about-item h3 {
    padding: 10px 0;
    font-weight: lighter;
}
.about-item h5 {
    padding: 10px 0;
    font-weight: lighter;
    color: grey;
}
.about-item p {
    padding: 10px 0;
    font-size: 14px;
}
.about-item button {
    outline: none;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.about-item button:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* contact  */
#contact h4 {
    margin-bottom: 20px;
    font-weight: lighter;
}
.contract-form {
    max-width: 100%;
}
.contract-intput {
    width: 98%;
    margin: 10px 0;
    padding: 12px;
}
.contract-btn {
    outline: none;
    border: 0;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 30px 0 50px;
}
.contract-btn:hover {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
.contract-img {
    width: 100%;
}

/*  */
footer {
    max-width: 100%;
    text-align: center;
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
}